:root {
    --blue-color: #11FFEE;
    --pink-color: #FF10F0;
    --main-bg-color: #111111;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background: var(--main-bg-color);
    color: #eee;
}

button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

/******************/
/* LOADING SCREEN */
/******************/
.loading-screen h2 {
    font-size: 3.75rem;
    margin-bottom: 1.75rem;
}

.loading-screen .spinner {
    width: 100px;
    height: 100px;
    border: 3px solid #eee;
    border-top: 3px solid var(--main-bg-color);
    border-bottom: 3px solid var(--main-bg-color);
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

/***************/
/* MAIN SCREEN */
/***************/
.main-screen {
    justify-content: space-around;
}

.title {
    font-size: 2.75rem;
    user-select: none;
}

.main-screen .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.buttons button {
    width: 100%;
    height: 75px;
    margin: 1rem 0;
    font-size: 2.25rem;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    transition: all 0.5s;
}

.buttons button:hover {
    border-color: var(--hover-color);
    color: var(--hover-color);
    text-shadow: 0 0 3px var(--hover-color);
    box-shadow: 0 0 7px var(--hover-color);
    transform: scale(1.025);
}

.game-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;
    user-select: none;
}

.game-over {
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    justify-content: space-between;
    user-select: none;
}

.game-over h2 {
    font-size: 4rem;
    margin: 5rem 0;
}

.game-over .buttons {
    margin: 5rem 0;
    width: min(80%, 800px);
    display: flex;
    gap: 5rem;
}

@media (min-width: 760px) {
    .title { font-size: 4.5rem; }
    .game-over h2 { font-size: 6rem; }
}

@media (min-width: 1000px) {
    .loading-screen h2 {
        font-size: 5rem;
    }

    .loading-screen .spinner {
        width: 125px;
        height: 125px;
    }

    .title { font-size: 5.5rem; }

    .game-over h2 { font-size: 7rem; }
}